.container
  %b
    Пример API запроса для добавления в словарь:
  %br
  %br
  http://simply.su/api?book_ids[]=2&book_ids[]=1&translate1=перевод1&translate2=перевод2&translate3=&translate4=&word=book&word_class_ids[]=3&word_class_ids[]=2